<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/subscription.css" />
    <link rel="stylesheet" href="css/footer.css">

    <style>
 
    </style>
    <!-- Bootstrap CSS -->
    <%- include("partials/boilerPlateCss.ejs") %>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <!-- _____________________________________________________ -->
    <!-- navbar start  -->

    <!-- navbar search popup ends  -->

    <!-- slider code starts  -->
    <!-- _____________________________________________________ -->

    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="/products/61538d3f5a247e5988d5c2c7">
            <img
              src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/Homepage-Banner-Skincare--3_2048x.png?v=1631165190"
              alt="Los Angeles"
              width="100%"
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="/products/61538d3f5a247e5988d5c2c7">
            <img
              src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/Homepage-Banner-Skincare-5_2048x.png?v=1631337593"
              alt="Chicago"
              width="100%"
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="/products/61538d3f5a247e5988d5c2c7">
            <img
              src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/Homepage-Banner-Skincare_9e8aeb6e-a40a-40ea-baef-b48024ee5851_2048x.png?v=1630819018"
              alt="New York"
              width="100%"
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="/products/61538d3f5a247e5988d5c2c7">
            <img
              src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/Homepage-Banner-Skincare-4_9ba9cd84-0122-4ddf-9f76-726bee694459_2048x.png?v=1631337216"
              alt="New York"
              width="100%"
            />
          </a>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    <!-- slider code ends   -->
    <!-- _____________________________________________________ -->

    <!-- what's in the bag carousel starts  -->
    <!-- _____________________________________________________ -->
    <!-- product slider    -->
    <hr>
<br>
<center><h1>WHAT'S IN THE BAG</h1><center>

    <section class="pt-5 circle-1">
      <div class="container pb-5 position-relative">
        <div
          id="demo"
          class="carousel slide position-relative"
          data-ride="carousel"
        >
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class=""></li>
            <li data-target="#demo" data-slide-to="1" class="active"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <a href="/products/61538d3f5a247e5988d5c2c7">
              <div class="carousel-item active carousel-item-left">
                <div class="d-flex">
                  <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/What_s-In-The-Bag--Skincare-Reveal-4_2048x.png?v=1633027124"
                      alt=""
                    />
                    <center><h5>CREME CRAYON OF YOUR COICE</h5></center>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/What_s-In-The-Bag--Skincare-Reveal-3_2048x.png?v=1633027123"
                      alt=""
                    />
                    <center><h5>NAIL LACQUER*</h5></center>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/What_s-In-The-Bag--Skincare-Reveal-2_35052921-087e-4e9b-88cb-78ab245bc1de_2048x.png?v=1633027123"
                      alt=""
                    />
                    <center><h5>EYE BROW GROWTH OIL</h5></center>
                  </div>
                </div>
              </div>
              <div class="carousel-item carousel-item-next carousel-item-left">
                <div class="d-flex">
                  <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/What_s-In-The-Bag--Skincare-Reveal-1_a8f6d8f0-2971-486c-9323-3fdda234dbb7_2048x.png?v=1633027123"
                      alt=""
                    />
                    <center><h5>MON CHERRY SHEET MASK</h5></center>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/What_s-In-The-Bag-makeup-Reveal-2_9fb736f1-ea90-440b-934f-c89c957b6951_2048x.png?v=1633027123"
                      alt=""
                    />
                    <center><h5>ORGANIC SOAP</h5></center>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/What_s-In-The-Bag-makeup-Reveal-1_792bf07e-fa52-4102-95dc-302bc6a83d45_2048x.png?v=1633027123"
                      alt=""
                    />
                    <center><h5>BONUS</h5></center>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- Left and right controls -->

          <a
            class="carousel-control-prev"
            href="#demo"
            data-slide="prev"
            style="opacity: 1; left: -10%"
          >
            <i
              class="fas fa-chevron-left"
              style="color: #5969f6; font-size: 30px"
            ></i>
          </a>
          <a
            class="carousel-control-next"
            href="#demo"
            data-slide="next"
            style="opacity: 1; transform: rotate(-180deg); right: -10%"
          >
            <i
              class="fas fa-chevron-left"
              style="color: #5969f6; font-size: 30px"
            ></i>
          </a>
        </div>
      </div>
    </section>

    <hr>

    <!-- subscription box  -->
    <%- include("partials/subscription.ejs") %>
    <!-- subscription box ends  -->

      <%- include("partials/footer.ejs") %>
  </body>
</html>
<%- include("partials/boilerPlateJs.ejs") %>

<script src="scripts/home.js"></script>
